@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    /* padding-top: 50px; */
    background-color: rgb(235, 235, 235);
    font-family: 'Courier Prime', monospace;
    
}

section{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}



/* NAVBAR */
header{
    color: blue;
    width: 100%;
    position: fixed;
    background-color: rgba(245, 245, 245, 0.781);
    backdrop-filter: blur(3px);
    z-index: 1;
    top: 0
}

nav{
    text-align: right;
    padding: 25px 60px 10px 0px;
}
nav a{
    font-size: 25px;
    padding: 0px 30px;
    text-decoration: none;
    color: black;
}

nav a.active,
nav a:hover{
    color: #c1df1f;
    font-weight: 600;
}

.hamburger, #check {
    display: none;
}








/* HOME */
.home{
    color: black;
    background-color: #c1df1f;
    
    text-align: left;
    height: 80vh;
    margin: 0px 50px;
    padding-left: 90px;
    font-size: 30px;
    position: relative;
    top: 70px;
    border-radius: 30px;
    cursor:default
} 

.home h1{
    padding-top: 200px;
}

.wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
}

.wrapper .static{
    color: black;
    
}

.wrapper .dynamic{
    margin: 0px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;

}

.dynamic li{
    list-style: none;
    text-align: left;
    
}

.dynamic span{
    top: 0;
    color: #08472b;
    position: relative;
    text-align: left;
    padding-left: 15px;
    animation: slide 15s steps(5) infinite;
}

@keyframes slide{
    100%{
        top: -250px;
    }
}


.dynamic span::after{
    content: "";
    position: absolute;
    background-color: #c1df1f;
    left: 0;
    height: 120%;
    width: 100%;
    border-left: 3px solid #0c6c40;
    animation: typing 3s steps(19) infinite;
}

@keyframes typing{
    40%, 60%{
        left: calc(100% + 10px);
    }
    100%{
        left: 0;
    }
}


.home .softwares{
    padding-top: 120px;
    padding-right: 30px;
    text-align: right;
}

.home img{
    height: 60px;
}


















/* ABOUT */

.about{
    color: black;
    min-height: 100vh;
    margin: 0px 50px;
    padding: 0px 100px;
}



.personal{
    display: flex;
    height: 500px;
    justify-content: center;
}


.content{
    padding-right: 0px 50px;
    text-align: justify;
}

.gif{
    padding-left: 50px;
}


.personal h2{
    margin-top: 150px;
    font-size: 35px;
}

.personal .about-p1{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
}

.personal p{
    font-size: 20px;
}

.personal .gif{
    position: relative;
    top: 170px;
}
.gif img{
    border-radius: 15px;
}




.org{
    display: flex;
    justify-content: center;
}

.member{
    text-align: justify;
}
.member h2{
    font-size: 30px;
    padding-top: 10px;
    letter-spacing: 10px;
}

#hiraya{
    font-size: 15px;
    padding-bottom: 20px;
}
.member p{
    font-size: 20px;
    padding-bottom: 10px;
}





.slider{
    margin-left: 50px;
    width: 600px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 800px;
    display: flex;
}

.slides input{
    display: none; 
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 600px;
    height: 500px;
}   

.navigation-manual{
    position: absolute;
    width: 600px;
    margin-top: -300px;
    display: flex;
    justify-content: center;
}


.manual-btn{
    border: 2px solid rgb(26, 53, 0);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last_child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: rgb(208, 231, 0);
}
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}












/* PROJECTS */

.projects{

    margin: 0px 50px;
    padding: 10px 100px 10px 100px;
}




.projects h2{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
    letter-spacing: 3px;

}

.category{
    padding-left: 20px;
}
.mech{
    color: rgb(136, 23, 23);
}
.web{
    padding-top: 100px;
    color: #082e1d;
}

.category h3{
    font-size: 30px;
    padding: 0px;
}
.category hr{
    margin: 0px 0px 20px 0px;
    padding-bottom: 3px;
    border: none;
    border-radius: 3px;
    background-color: black;
}

.project{
    /* border: solid black 1px; */
    margin-bottom: 20px;
    display: flex;
}

.project .content{
    /* color: blue; */
    text-align: justify;
    padding: 20px 20px;
}

.content h2{
    padding: 0px;
}
.content hr{
    margin: 0px 0px 20px 0px;
    padding-bottom: 2px;
    background-color: rgb(0, 0, 0);
    border: none;
}

#scpp, #todo, #bike, #pen, #fluid, #salary{
    width: 450px;
    padding-top: 20px;
}



















.footer{
    background-color: rgb(19, 68, 68);
    margin: 100px 0px 0px 0px;
    padding: 20px 200px 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-png {
    height: 70px;
}

.logo-contacts img{
    height: 40px;
}






@media (max-width: 1000px){
    header{
        position: fixed;
    }
    nav{
        height: 60px;
    }
    nav a{
        display:none;
    }

    #check:checked ~ nav{
        height: 30vh;
        color:black;
        margin-top: 30px;
    }
    #check:checked ~ nav a{
        display: flex;
        justify-content: right;
        padding-right: 100px;
        padding-top: 20px;
    }

    .hamburger {
        padding: 20px 30px;
        display: block;
        z-index: 1;
        cursor: pointer;
        outline: none;
        position: absolute;
        right: 0px;
        
    }
    
    .hamburger span {
        display: block;
        width: 33px;
        height: 5px;
        margin-bottom: 5px;
        border-radius: 4px;
        background-color: #c1df1f;
        z-index: 1;
    }


    .about{
        padding: 0px;
    }
    .content{
        text-align: initial;
    }
    .personal h2{
        margin-top: 100px;
        font-size: 25px;
    }

    .personal .about-p1{
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .personal p{
        font-size: 15px;
    }

    .personal .gif{
        position: relative;
        top: 100px;
    }
    .gif img{
        width: 400px;
        border-radius: 15px;
    }





    .member{
        text-align: justify;
    }
    .member h2{
        font-size: 25px;
        padding-top: 10px;
        letter-spacing: 10px;
    }
    
    #hiraya{
        font-size: 10px;
        padding-bottom: 20px;
    }
    .member p{
        font-size: 15px;
        padding-bottom: 10px;
    }

    .slider{
        margin-left: 50px;
        width: 450px;
        height: 360px;
        border-radius: 15px;
        overflow: hidden;
    }
    
    .slide img{
        width: 450px;
        height: 360px;
    }   
    
    .navigation-manual{
        position: absolute;
        width: 450px;
        margin-top: -430px;
        display: flex;
        justify-content: center;
    }
    
    
    


    .projects{

        margin: 0px 50px;
        padding: 10px 0px;
    }
    
    
    .projects h2{
        padding-top: 100px;
        padding-bottom: 50px;
        font-size: 30px;
        letter-spacing: 3px;
    
    }
    
    .category{
        padding-left: 20px;
    }
    .mech{
        color: rgb(136, 23, 23);
    }
    .web{
        padding-top: 100px;
        color: #082e1d;
    }
    
    .category h3{
        font-size: 30px;
        padding: 0px;
    }
    .category hr{
        margin: 0px 0px 20px 0px;
        padding-bottom: 3px;
        border: none;
        border-radius: 3px;
        background-color: black;
    }
    
    .project{
        margin-bottom: 20px;
        display: flex;
    }
    
    .project .content{
        padding: 20px 20px;
    }
    
    .content h2{
        padding: 0px;
        font-size: 25px;
    }
    .content hr{
        margin: 0px 0px 20px 0px;
        padding-bottom: 2px;
        background-color: rgb(0, 0, 0);
        border: none;
    }
    .content p{
        font-size: 15px;
    }
    
    #scpp, #todo, #bike, #pen, #fluid, #salary{
        width: 300px;
        padding-top: 20px;
    }
    
}


@media (max-width:420px){
    /* NAV */
    #check:checked ~ nav{
        height: 30vh;
        color:black;
        margin-top: 15px;
    }
    #check:checked ~ nav a{
        font-size: 20px;
        display: flex;
        justify-content: right;
        padding-right: 100px;
        padding-top: 20px;
    }



    /* HOME */
    .home{
        color: black;
        background-color: #c1df1f;
        
        text-align: left;
        height: 80vh;
        margin: 0px 50px;
        padding: 0px 10px;
        font-size: 30px;
        position: relative;
        top: 70px;
        border-radius: 30px;
        cursor:default
    } 
    
    .home h1{
        font-size: 30px;
        padding-top: 250px;
    }

    .wrapper .static{
        font-size: 15px;
    }
    .wrapper .dynamic{
        margin: 0px;
        line-height: 20px;
        height: 20px;
        overflow: hidden;
    }
    
    .dynamic li{
        list-style: none;
        text-align: left;
        font-size: 15px;
    }

    @keyframes slide{
        100%{
            top: -100px;
        }
    }


    .home .softwares{
        padding-top: 30px;
        text-align: right;
    }
    
    .home img{
        height: 40px;
        padding: 0px 10px;
    }
    



    /* ABOUT */
    .about{
        padding: 0px;
    }
    .content{
        text-align: initial;
    }

    .personal{
        display: flex;
        height: 500px;
        flex-direction: column;
        justify-content: center;
    }

    .personal h2{
        margin-top: 100px;
        font-size: 25px;
    }

    .personal .about-p1{
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .personal p{
        font-size: 15px;
    }

    .personal .gif{
        position: relative;
        top: 20px;
        padding: 0px;
    }
    .gif img{
        width: 300px;
        border-radius: 15px;
        
    }







    .org{
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: column;
    }

    .member{
        text-align: justify;
    }
    .member h2{
        font-size: 25px;
        padding-top: 10px;
        letter-spacing: 10px;
    }
    
    #hiraya{
        font-size: 10px;
        padding-bottom: 20px;
    }
    .member p{
        font-size: 15px;
        padding-bottom: 10px;
    }

    .slider{
        margin-left: 0px;
        margin-top: 20px;
        width: 319px;
        height: 255px;
        border-radius: 15px;
        overflow: hidden;
    }
    
    .slide img{
        width: 319px;
        height: 255px;
    }   
    
    .navigation-manual{
        position: absolute;
        width: 319px;
        margin-top: -520px;
        display: flex;
        justify-content: center;
    }
    




    .projects{
        margin: 0px 50px;
        padding: 10px 0px;
    }
    
    
    .projects h2{
        padding-top: 250px;
        padding-bottom: 50px;
        font-size: 30px;
        letter-spacing: 3px;
    
    }
    
    .category{
        padding-left: 0px;
    }
    .mech{
        color: rgb(136, 23, 23);
        
    }
    .web{
        padding-top: 100px;
        color: #082e1d;
    }
    
    .category h3{
        font-size: 25px;
        padding: 0px;
    }
    .category hr{
        margin: 0px;
        margin-bottom: 20px;
        padding-bottom: 3px;
        border: none;
        border-radius: 3px;
        background-color: black;
    }
    
    .project{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .project .content{
        padding: 20px 0px;
    }
    
    .content h2{
        padding: 0px;
        font-size: 20px;
        text-align: left;
    }

    .content h4{
        font-size: 14px;
    }
    .content hr{
        margin: 0px 0px 20px 0px;
        padding-bottom: 2px;
        background-color: rgb(0, 0, 0);
        border: none;
    }
    .content p{
        font-size: 15px;
    }
    
    #scpp, #todo, #bike, #pen, #fluid, #salary{
        width: 320px;
        padding-top: 20px;
    }
    


   



    .footer{
        background-color: rgb(19, 68, 68);
        margin: 100px 0px 0px 0px;
        padding: 20px 10px 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer p{
        font-size: 15px;
    }

    #logo-png {
        height: 50px;
    }

    .logo-contacts{
        text-align: center;
    }

    .logo-contacts img{
        height: 20px;
    }






}
